{% extends 'base.html' %}

{% block title %}
    Citaj, ne skitaj!
{% endblock %}

{% block body %}
    <div class="container-fluid" style="padding:0; margin:0;">
        <div class="row" style="margin:0;" >
            <div class=" col-sm-8 main" id="levi">
                <div class="row col-sm-12" style="margin-bottom: 15px;">
                    <h1>Najbolje ocenjena dela</h1>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-img-top">
                                <a href="oKnjizi.html" class="link-secondary">
                                    <img src="../../static/slike/placeholder.jpg" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Knjiga</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-img-top">
                                <a href="oKnjizi.html" class="link-secondary">
                                    <img src="../../static/slike/placeholder.jpg" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Knjiga</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-img-top">
                                <a href="oKnjizi.html" class="link-secondary">
                                    <img src="../../static/slike/placeholder.jpg" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Knjiga</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-img-top">
                                <a href="oKnjizi.html" class="link-secondary">
                                    <img src="../../static/slike/placeholder.jpg" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Knjiga</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12" style="margin-bottom: 15px;">
                    <h1>Najbolje ocenjeni autori</h1>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-img-top">
                                <a href="oAutoru.html" class="link-secondary">
                                    <img src="../../static/slike/placeholder.jpg" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Autor</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-img-top">
                                <a href="oAutoru.html" class="link-secondary">
                                    <img src="../../static/slike/placeholder.jpg" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Autor</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-img-top">
                                <a href="oAutoru.html" class="link-secondary">
                                    <img src="../../static/slike/placeholder.jpg" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Autor</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-img-top">
                                <a href="oAutoru.html" class="link-secondary">
                                    <img src="../../static/slike/placeholder.jpg" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Autor</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12" style="margin-bottom: 15px;">
                    <h1>Najbolje ocenjene izdavačke kuće</h1>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-img-top">
                                <a href="oKuci.html" class="link-secondary">
                                    <img src="../../static/slike/placeholder.jpg" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Izdavačka Kuća</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-img-top">
                                <a href="oKuci.html" class="link-secondary">
                                    <img src="../../static/slike/placeholder.jpg" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Izdavačka Kuća</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-img-top">
                                <a href="oKuci.html" class="link-secondary">
                                    <img src="../../static/slike/placeholder.jpg" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Izdavačka Kuća</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-img-top">
                                <a href="oKuci.html" class="link-secondary">
                                    <img src="../../static/slike/placeholder.jpg" alt="" style="width: 100%;">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Izdavačka Kuća</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div id="desno">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!--<body onload="inicijalizujStranicu()" style="padding:0; margin:0;">

</body>
</html>-->