{% extends 'base.html' %}

{% block title %}
    Citaj, ne skitaj!
{% endblock %}

{% block body %}
    <div class="container-fluid" style="padding:0; margin:0;">
        <div class="row" style="margin:0;">
            <!-- Najbolje knjige -->
            <div class="row col-sm-12 main" style="margin-bottom: 15px;">
                <h1><b>Najbolje ocenjene knjige</b></h1>
                {% for knjiga in knjige %}
                    <div class="col-sm-4">
                        <div class="card" style="width: fit-content;">
                            <div class="card-img-top" >
                                <a href="/knjiga/{{ knjiga.isbn }}" class="link-secondary">
                                    <img src="{% if knjiga.slika %}{{ knjiga.slika.url }}{% endif %}" alt="Nema slike :(" style="height: 500px; width: 350px">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">⭐{{ knjiga.prosecnaocena }} - {{ knjiga.naziv }}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row col-sm-12 main" style="margin-bottom: 15px;">
                <h1><b>Najbolje ocenjeni autori</b></h1>
                {% for autor in autori %}
                    <div class="col-sm-4">
                        <div class="card" style="width: fit-content;">
                            <div class="card-img-top" >
                                <a href="/profil/{{ autor.username }}" class="link-secondary">
                                    <img src="{% if autor.slika %}{{ autor.slika.url }}{% endif %}" alt="Nema slike :(" style="height: 500px; width: 350px">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">⭐{{ autor.prosecnaocena }} - {{ autor.imeprezime }}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row col-sm-12 main" style="margin-bottom: 15px;">
                <h1><b>Najbolje ocenjene izdavačke kuće</b></h1>
                {% for kuca in kuce %}
                    <div class="col-sm-4">
                        <div class="card" style="width: fit-content;">
                            <div class="card-img-top" >
                                <a href="/profil/{{ kuca.username }}" class="link-secondary">
                                    <img src="{% if kuca.slika %}{{ kuca.slika.url }}{% endif %}" alt="Nema slike :(" style="height: 500px; width: 350px">
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">⭐{{ kuca.prosecnaocena }} - {{ kuca.naziv }}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}
<!--<body onload="inicijalizujStranicu()" style="padding:0; margin:0;">

</body>
</html>-->