{% extends 'base.html' %}

{% block title %}
    Citaj, ne skitaj!
{% endblock %}

{% block body %}
    <div class="container-fluid p-0 m-0" >
        <div class="row p-0 m-0" >
            <!-- Najbolje knjige -->


            {% if user.is_authenticated %}
                <div class="col-sm-6">
                    {% include 'snippets/knjige_autori_izdKuce_pocStrana.html' %}
                </div>
                <div class="col-sm-6">
                    {#            feed#}
                    {% if user.is_authenticated %}
                        <div class="col-sm-12 main" style="margin-bottom: 15px; height:fit-content;">
                            <h1><b>Feed</b></h1>
                            {% if feed %}
                                {% for f in feed %}
                                    <div class="row col-sm-12">

                                        <a href="/profil/{{ f.korime }}" class="link-secondary">
                                            <h4 style="float:left; color:black;">@{{ f.korime }}</h4>
                                        </a>


                                    </div>

                                    <div class="row col-sm-12">
                                        <div class="col-sm-8 " style="background-color:rgba(255,255,255,0.66);">
                                            <h4 class="card-text">{{ f.sadrzaj }}<br> - {{ f.datumobjave }}</h4>
                                        </div>
                                        {% if f.slika %}
                                            <div class="col-sm-4  text-center">
                                                <img src="{{ f.slika.url }}"
                                                     style=" height:180px; width:180px;" alt=" ">
                                            </div>
                                        {% endif %}

                                    </div>
                                    {#                                    </div#}
                                {% endfor %}
                            {% else %}
                                <h1>Nažalost, Vaš zid je prazan <3</h1>
                            {% endif %}
                        </div>
                    {% endif %}


                </div>
            {% else %}
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    {% include 'snippets/knjige_autori_izdKuce_pocStrana.html' %}

                </div>
                <div class="col-sm-2"></div>
            {% endif %}

        </div>
    </div>
{% endblock %}