<!-- Autori:
- Predrag Pešić 0023/2020
- Aleksa Mićanović 0282/2020
-->
{% if user.is_authenticated %}
    {% if imaUkolekciji == False %}
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="dodajUkolekciju" style="background-color:transparent; border:0" >
                <img src="../../static/slike/button/emptyHeart.png" style="width:50px;height:50px;">
            </button>
        </form>
    {% else %}
        <form method="POST" action="{% url "knjiga" knjiga_id=knjiga.isbn %}">
            {% csrf_token %}
            <button type="submit" name="brisiIzKolekcije" style="background-color:transparent; border:0" >
                <img src="../../static/slike/button/fullHeart.png" style="width:50px;height:50px;">
            </button>
        </form>
    {% endif %}
{% endif %}