<!-- Autori:
- Predrag Pešić 0023/2020
- Aleksa Mićanović 0282/2020
-->
{% if user.is_authenticated %}
    {% if imaUkolekciji == False %}
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="dodajUkolekciju" class="katalogbtn">Dodaj u kolekciju</button>
        </form>
    {% else %}
        <form method="POST" action="{% url "knjiga" knjiga_id=knjiga.isbn %}">
            {% csrf_token %}
            <button type="submit" name="brisiIzKolekcije" class="katalogbtn">Izbaci iz kolekcije</button>
        </form>
    {% endif %}
{% endif %}