<!-- Autori:
- Aleksa Mićanović 0282/2020
-->

<!-- licitacijaInfoModal -->
<div class="modal fade" id="licitacijaInfoModalBS" tabindex="-1" aria-labelledby="licitacijaInfoModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="licitacijaInfoModalHeader">Informacije o licitaciji</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zatvori"></button>
            </div>
            <div class="modal-body" id="licitacijaInfoModalBody">
                <form method="POST" id="licitacijaInfoForm">
                    {% csrf_token %}
                    {{ licitacijaForm.as_p }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="green" form="licitacijaInfoForm">Licitiraj</button>
                <button type="button" class="gray" data-bs-dismiss="modal">Zatvori</button>
            </div>
        </div>
    </div>
</div>