<!-- licitacijaInfoModal -->
<div class="modal fade" id="licitacijaInfoModalBS" tabindex="-1" aria-labelledby="licitacijaInfoModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="licitacijaInfoModalHeader">Informacije o licitaciji</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zatvori"></button>
            </div>
            <div class="modal-body">
                <p>Ime dela:  lic.nazivdela </p>
                <p>Autor: lic.idautor.imeprezime </p>
                <p>Primerak dela: PDF</p>
                <p>Početna cena: 1000</p>
                <p>Trenutna cena: 12500</p>
                <p>Najveći ponuđač: IDPobednika</p>


                <form method="POST" id="licitacijaInfoModalForm">
                    {% csrf_token %}
                    {{ ponudaForm }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" name="postavi" class="green" data-bs-dismiss="modal" form="licitacijaInfoModalForm">
                    Ponudi
                </button>
                <button type="button" class="gray" data-bs-dismiss="modal">Odustani</button>
            </div>
        </div>
    </div>
</div>

<h1 style="font-weight: bold;"><u>Recenzije</u></h1>
<div class="col-sm-2">
    {% if user.is_authenticated %}
        <!-- Dugme za dodajRecenzijuModal -->
        {#  <button class="katalogbtn" id="dodajRec" onclick="$('#addRecenzijaModal').show()">Dodaj recenziju</button> #}
        <button type="button" class="katalogbtn" data-bs-toggle="modal" data-bs-target="#dodajRecenzijuModalBS">Dodaj
            recenziju
        </button>
    {% endif %}
</div>
{% if errorTekst != None %}
    <div class="alert alert-danger alert-info alert-dismissible fade show" role="alert" style="width:100%;">
                                <span>
                                  {{ errorTekst }}
                                </span>
        <button type="button" class="close text-right" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" style="float:right">&times;</span>
        </button>
    </div>
{% endif %}

{% for rec in recenzije %}
    <div class="recenzija">
        <h2>⭐{{ rec.ocena }} -
            {% if rec.iddavalac.banovan == 0 %}
                <i>
                    <a class="profilLink"
                       href="{% url 'profil' rec.iddavalac.username %}">@{{ rec.iddavalac.username }} </a>
                </i>
            {% else %}
                <i>@banovan</i>
            {% endif %}
            {% if rec.iddavalac == request.user %}
                <button type="button" class="katalogbtn" data-bs-toggle="modal" data-bs-target="#izmeniRecenzijuModalBS"
                        onclick="showModalEditFancy({{ rec.idrec }},'{{ rec.tekst }}',{{ rec.ocena }})"
                >
                    ...
                </button>
                <!-- <button class="editBtn" onclick="showModalEdit({{ rec.idrec }},'{{ rec.tekst }}',{{ rec.ocena }})" >...</button> -->
            {% elif user.is_superuser %}
                <button type="button" class="katalogbtn" data-bs-toggle="modal" data-bs-target="#izbrisiRecenzijuModalBS"
                        onclick="showModalDeleteFancy({{ rec.idrec }})"
                >
                    ...
                </button>
                {# <button class="editBtn" onclick="showModalDelete({{ rec.idrec }})">...</button> #}
            {% endif %}
        </h2>
        <div style="font-style: italic">{{ rec.tekst }}</div>
    </div>
{% endfor %}
