<div class="modal">
    <div id="popupRecenzija">
        <form method="POST">
            {% csrf_token %}
            <h3 style="font-weight: bold">Nova recenzija</h3>
            <p style="font-weight: bold">Ocena (1-5): </p>
            {{ forma.ocena }}
            <pre style="font-weight: bold">1     2     3     4     5</pre>
            <p style="font-weight: bold">Komentar: </p>
            {{ forma.tekst }}
            <input type="submit" name="postavi" value="Postavi recenziju" class="dodaj">
            <input type="reset" value="Odustani" class="odustani" style="background-color:grey" onclick="toggleModal()">
        </form>
    </div>
</div>

<div class="modalEdit">
    <div id="editRec">
        <form method="POST">
            {% csrf_token  %}
            <input type="hidden" id="hiddenIdRec" name="hiddenIdRec" value="">
            <h3 style="font-weight: bold">Izmena recenzije</h3>
            <p style="font-weight: bold">Ocena (1-5): </p>
            {{ editForma.ocena }}
            <pre style="font-weight: bold">1     2     3     4     5</pre>
            <p style="font-weight: bold">Komentar: </p>
            {{ editForma.tekst }}
            <input type="submit" name="izmeni" value="Izmeni recenziju" class="dodaj">
            <input type="submit" name="obrisi" value="Obrisi recenziju" class="odustani">
            <input type="reset" value="Odustani" class="odustani" style="background-color:grey" onclick="hideModalEdit()">
        </form>
    </div>
</div>