<!-- Autori:
- Predrag Pešić 0023/2020
- Aleksa Mićanović 0282/2020
- Luka Nevajda 0370/2020
- Ljubica Muravljov 0071/2020
-->

<!-- dodajKnjiguModal -->
<div class="modal fade" id="dodajKnjiguModalBS" tabindex="-1" aria-labelledby="dodajKnjiguModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="dodajKnjiguModalHeader">Nova objava</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zatvori"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="dodajKnjiguForm" action="{% url "dodajKnjigu" %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        {{ knjigaForm.naziv.label_tag }}<br>
                        {{ knjigaForm.naziv }}
                    </div>
                    <br>

                    <div>
                        {{ knjigaForm.slika.label_tag }}
                        {{ knjigaForm.slika }}
                    </div>

                    {{ knjigaForm.dodaj.label_tag }}
                    <br>
                    <div style="display: flex; align-items: center;">
                        {{ knjigaForm.autori }}
                        {{ knjigaForm.dodaj }}
                    </div>
                    <br>

                    {{ knjigaForm.autori.label_tag }}<br>
                    <div>
                        <ul id="mojiAutori" style="display: flex; padding-left: 0;"></ul>
                    </div>

                    <div>
                        {{ knjigaForm.opis.label_tag }}
                        {{ knjigaForm.opis }}
                    </div>

                    <div>
                        {{ knjigaForm.sadrzaj.label_tag }}
                        {{ knjigaForm.sadrzaj }}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="green" form="dodajKnjiguForm" id="dodajKnjiguDugme">
                    Dodaj
                </button>
                <button type="button" class="gray" data-bs-dismiss="modal">Odustani</button>
            </div>
        </div>
    </div>
</div>

<!-- prikaziPratioceModal -->
<div class="modal fade" id="prikaziPratioceModalBS" tabindex="-1" aria-labelledby="prikaziPratioceModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="prikaziPratioceModalHeader">Pratioci</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zatvori"></button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for pratilac in pratioci %}
                        <li>
                            <h5>
                                <img src="

                                        {% if pratilac.slika %}{{ pratilac.slika.url }}{% else %}../../media/ulogaImgs/default.png{% endif %}"
                                     style="width: 50px; height: 50px; object-fit: cover">
                                <a href="{% url 'profil' pratilac.username %}" class="profilLink">
                                    {{ pratilac.naziv }} [@{{ pratilac.username }}]
                                </a>
                            </h5>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="gray" data-bs-dismiss="modal">Nazad</button>
            </div>
        </div>
    </div>
</div>

<!-- prikaziPraceneModal -->
<div class="modal fade" id="prikaziPraceneModalBS" tabindex="-1" aria-labelledby="prikaziPraceneModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="prikaziPraceneModalHeader">Praćeni</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zatvori"></button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for pracen in praceni %}
                        <li>
                            <h5>
                                <img src="



                                        {% if pracen.slika %}{{ pracen.slika.url }}{% else %}../../media/ulogaImgs/default.png{% endif %}"
                                     style="width: 50px; height: 50px; object-fit: cover">
                                <a href="{% url 'profil' pracen.username %}" class="profilLink">
                                    {{ pracen.naziv }} [@{{ pracen.username }}]
                                </a>
                            </h5>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="gray" data-bs-dismiss="modal">Nazad</button>
            </div>
        </div>
    </div>
</div>


