<!-- Autori:
- Luka Nevajda 0370/2020
-->
 <h1><b>Protekle licitacije</b></h1>
<div class="col-sm-10 main pt-3" style="margin-bottom: 15px; height:50vh; overflow: auto;">

    {% for licitacija in protekle_licitacije %}
        <div class="card protekla_lic m-2" style="width: 20vw;">
            <div class="card-body">
                <b>Autor</b>: {{ licitacija.idautor.imeprezime }} [<a href="{% url 'profil' licitacija.idautor.username  %}" class="profilLink">@{{ licitacija.idautor.username }}</a>]
                <br>
                <b>Naziv</b>: {{ licitacija.nazivdela }}
                <br>
                <b>Pobednik</b>:
                {% if licitacija.idpobednik %}
                    {{ licitacija.idpobednik.naziv }} [<a href="{% url 'profil' licitacija.idpobednik.username %}" class="profilLink">@{{ licitacija.idpobednik.username }}</a>]
                {% else %}
                    - [-]
                {% endif %}
                <br>
                <b>Trenutni iznos</b>: {{ licitacija.trenutniiznos }}
                <br>
                <b>Datum kraja</b>: {{ licitacija.datumkraja }} <br>
{#               <button type="button" class="katalogbtn" data-bs-toggle="modal" data-bs-target="#licitacijaInfoModalBS")">...</button>#}
            </div>
        </div>
    {% endfor %}
</div>