<h1 style="font-weight: bold;"><u>Recenzije</u></h1>
<div class="col-sm-2">
    {% if user.is_authenticated %}
        <button class="katalogbtn" id="dodajRec" onclick="$('#addRecenzijaModal').show()">Dodaj recenziju</button>
    {% endif %}
</div>
{% if errorTekst != None %}
    <div class="alert alert-danger alert-info alert-dismissible fade show" role="alert" style="width:100%;">
                                <span>
                                  {{ errorTekst }}
                                </span>
        <button type="button" class="close text-right" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" style="float:right">&times;</span>
        </button>
    </div>
{% endif %}

{% for rec in recenzije %}
    <div class="recenzija">
        <h2>⭐{{ rec.ocena }} -
            {% if rec.iddavalac.banovan == 0 %}
                <i>
                    <a class="profilLink"
                       href="{% url 'profil' rec.iddavalac.username %}">@{{ rec.iddavalac.username }} </a>
                </i>
            {% else %}
                <i>@banovan</i>
            {% endif %}
            {% if rec.iddavalac == request.user %}
                <button class="editBtn" onclick="showModalEdit({{ rec.idrec }},'{{ rec.tekst }}',{{ rec.ocena }})">...</button>
            {% elif user.is_superuser %}
                <button class="editBtn" onclick="showModalDelete({{ rec.idrec }})">...</button>
            {% endif %}
        </h2>
        <div style="font-style: italic">{{ rec.tekst }}</div>
    </div>
{% endfor %}
