<h1 style="font-weight: bold;"><u>Recenzije</u></h1>
{% if errorTekst != None %}
    <div class="alert alert-danger alert-info" role="alert" style="width:100%;">
        <span> {{ errorTekst }} </span>
        <button type="button" class="close text-right" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" style="float:right">X</span>
        </button>
    </div>
{% endif %}
{% for rec in recenzije %}
    <div class="recenzija">
        <h2>⭐{{ rec.ocena }} -
            {% if rec.iddavalac.banovan == 0 %}<i>
                <a class="profilLink"
                   href="{% url 'profil' rec.iddavalac.username %}">@{{ rec.iddavalac.username }} </a>
            </i>
            {% else %}
                <i>@banovan</i>
            {% endif %}
            {% if rec.iddavalac == request.user or user.is_superuser %}
                <button class="editBtn" onclick="editRec(this,'{{ rec.tekst }}','{{ rec.ocena }}')"
                        value="{{ rec.idrec }}">
                    ...
                </button>
            {% endif %}
        </h2>
        <div class="text-italic">{{ rec.tekst }}</div>
    </div>
{% endfor %}

</div>