<!-- Autori:
- Aleksa Mićanović 0282/2020
- Luka Nevajda 0370/2020
-->
{% extends 'base_two_panels.html' %}
{% block title %}
    {{ uloga.username }}
{% endblock %}

{% block upperLeft %}
    <div class="col-sm-4">
        <img class="profilnaU" src="{% if uloga.slika %}{{ uloga.slika.url }}{% endif %}" alt="No image :(">
    </div>
    <div class="col-sm-8" style="margin-bottom: 5%;">
        <div class="row col-sm-12">
            <div class="col-sm-8">
                <h1 style="font-weight: bold">{{ profil.imeprezime }}

                </h1>

                <h3 style="margin-bottom: 5%;">{{ profil.prosecnaocena }}/5.00</h3>
                <h5 style="margin-bottom: 5%;"><b>Broj pratilaca:</b> {{ profil.brpratilaca }}</h5>
                <h5><b>Biografija: </b>{{ profil.biografija }}</h5>
                <div>
                    {% include 'snippets/povezane_kuce.html' %}
                </div>

            </div>
            <div class="col-sm-4">
                {% if uloga.banovan == 1 %}

                    <h1 style="color:red; font-weight: bold">BANOVAN</h1>
                {% else %}
                    {% include 'snippets/zaprati_otprati_dugme.html' %}
                {% endif %}


            </div>
        </div>


    </div>


{% endblock %}

{% block lowerLeft %}
    {% include 'snippets/mojprofil_dugmad.html' %}
    {% include 'snippets/izdate_knjige_carousel.html' %}
    {% if uloga.banovan == 0 %}
        {% include 'snippets/licna_kolekcija_carousel.html' %}
    {% endif %}
    {% include 'snippets/objave.html' %}

{% endblock %}

{% block rightPanel %}

    {% include 'snippets/settings_profil_dugmad.html' %}
    {% include 'snippets/recenzije.html' %}
{% endblock %}

{% include 'snippets/modals.html' %}