<!-- Autori:
- Aleksa Mićanović 0282/2020
- Luka Nevajda 0370/2020
-->
{% extends 'base_two_panels.html' %}
{% block title %}
    {{ uloga.username }}
{% endblock %}

{% block upperLeft %}
    <div class="col-sm-4">
        <img class="profilnaU" src="{% if uloga.slika %}{{ uloga.slika.url }}{% endif %}" alt="No image :(">
    </div>
    <div class="col-sm-8" style="margin-bottom: 5%;">
        <h1 style="font-weight: bold">{{ profil.imeprezime }}</h1>
        <h3 style="margin-bottom: 5%;">{{ profil.prosecnaocena }}/5.00</h3>
        <h5 style="margin-bottom: 5%;"><b>Broj pratilaca:</b> {{ profil.brpratilaca }}</h5>
        <h5><b>Biografija: </b>{{ profil.biografija }}</h5>
        <div>
            {% include 'snippets/povezane_kuce.html' %}
        </div>
        <div>
            {% include 'snippets/zaprati_otprati_dugme.html' %}
        </div>

        {% include 'snippets/mojprofil_dugmad.html' %}
    </div>
    {% include 'snippets/modals.html' %}
{% endblock %}

{% block lowerLeft %}
    {% include 'snippets/izdate_knjige_carousel.html' %}
    {% include 'snippets/licna_kolekcija_carousel.html' %}
    {% include 'snippets/objave.html' %}
{% endblock %}

{% block rightPanel %}
    {% include 'snippets/recenzije.html' %}
{% endblock %}

