{% extends 'base_two_panels.html' %}

{% block title %}
    {{ knjiga.naziv }}
{% endblock %}


{% block upperLeft %}
    <div class="col-sm-4">
        <img class="profilnaKnj" src="{% if knjiga.slika %}{{ knjiga.slika.url }}{% endif %}" alt="No image :(">
    </div>
    <div class="col-sm-8" style="margin-bottom: 5%;">
        <h1 style="font-weight: bold">{{ knjiga.naziv }}</h1>
        <h3 style="margin-bottom: 5%;">{{ knjiga.prosecnaocena }}/5.00</h3>
        <h5><b>ISBN:</b> {{ knjiga.isbn }}</h5>
        <h5><b>Autori:</b> {{ autori }}</h5>
        <h5><b>Izdavačka kuća:</b> {{ knjiga.idizdkuca.naziv }}</h5>
        <h5><b>Opis: </b>
            {{ knjiga.opis }}
        </h5><br><br>

        {% include 'snippets/dodaj_u_kolekciju.html' %}
    </div>
    {% include 'snippets/modals.html' %}
{% endblock %}

{% block rightPanel %}

    {% include 'snippets/recenzije.html' %}
{% endblock %}