{% extends 'base.html' %}

{% block title %}
    {{ knjiga.naziv }}
{% endblock %}


{% block body %}
    <div class="container-fluid" style="padding:0; margin:0;">
        <div class="row" style="margin:0;">
            <div class=" col-sm-8 main" id="levi">
                <div class="row col-sm-12" style="margin-bottom:10px;">
                    <div class="col-sm-4">
                        <img class="profilnaKnj" src="{% if knjiga.slika %}{{ knjiga.slika.url }}{% endif %}">
                    </div>
                    <div class="col-sm-8">
                        <h1 style="font-weight: bold">{{ knjiga.naziv }}</h1>
                        <h3 style="margin-bottom: 5%;">{{ knjiga.prosecnaocena }}/5.00</h3>
                        <h5><b>ISBN:</b> {{ knjiga.isbn }}</h5>
                        <h5><b>Autori:</b> {{ autori }}</h5>
                        <h5><b>Izdavačka kuća:</b> {{ knjiga.idizdkuca.naziv }}</h5>
                        <h5><b>Opis: </b>
                        {{ knjiga.opis }}
                        </h5><br><br>

                        {% if user.is_authenticated %}
                            {% if imaUkolekciji == False %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="submit" name="dodajUkolekciju" class="katalogbtn" value="Dodaj u kolekciju">
                                </form>
                            {% else %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="submit" name="brisiIzKolekcije" class="katalogbtn" value="Izbaci iz kolekcije">
                                </form>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            <hr>
                <div class="row">
                     <div class="col-sm-10 recenzije">
                        <h1 style="font-weight: bold;"><u>Recenzije</u></h1>


                        {% if errorTekst != None %}
                             <div class="alert alert-danger alert-info" role="alert" style="width:100%;">
                                <span>
                                  {{ errorTekst }}
                                </span>
                             <button type="button" class="close text-right" data-dismiss="alert" aria-label="Close">
                                 <span aria-hidden="true" style="float:right">&times;</span>
                             </button>
                            </div>
                        {% endif %}



                        {% for rec in recenzije %}
                            <div class="recenzija">
                                <h2>⭐{{ rec.ocena }} -


                                    {% if rec.iddavalac.banovan == 0 %}<i> <a class="profilLink" href="{% url 'profil' rec.iddavalac.username %}" >@{{ rec.iddavalac.username }} </a> </i>
                                    {% else %}
                                        <i>@banovan</i>
                                    {% endif %}
                                    {% if rec.iddavalac == request.user or user.is_superuser %}
                                    <button class="editBtn" onclick="editRec(this,'{{ rec.tekst }}','{{ rec.ocena }}')" value="{{ rec.idrec }}">...</button>

                                    {% endif %}
                                </h2>
                                <div style="font-style: italic">{{ rec.tekst }}</div>

                            </div>
                        {% endfor %}

                     </div>
                    <div class="col-sm-2">
                        {% if user.is_authenticated %}
                            <button class="katalogbtn" id="dodajRec" onclick="dodajRec()">Dodaj recenziju</button>
                        {% endif %}
                    </div>


            </div>

        </div>


    </div>
    </div>
    <div id="popupRecenzija">

        <form method="POST">
            {% csrf_token %}
            <h3 style="font-weight: bold">Nova recenzija</h3>
            <p style="font-weight: bold">Ocena (1-5): </p>
            {{ forma.ocena }}

            <pre style="font-weight: bold">1     2     3     4     5</pre>
            <p style="font-weight: bold">Komentar: </p>
            {{ forma.tekst }}
            <input type="submit" name="postavi" value="Postavi recenziju" class="dodaj">
            <input type="submit" name="odustani" value="Odustani" class="odustani" style="background-color:grey">
        </form>

    </div>


    <div id="editRec">
        <form method="POST">
            {% csrf_token  %}
            <input type="hidden" id="hiddenIdRec" name="hiddenIdRec" value="">

            <h3 style="font-weight: bold">Izmena recenzije</h3>
            <p style="font-weight: bold">Ocena (1-5): </p>
            {{ editForma.ocena }}

            <pre style="font-weight: bold">1     2     3     4     5</pre>
            <p style="font-weight: bold">Komentar: </p>
            {{ editForma.tekst }}
            <input type="submit" name="izmeni" value="Izmeni recenziju" class="dodaj">
            <input type="submit" name="obrisi" value="Obrisi recenziju" class="odustani">
            <input type="submit" name="odustani" value="Odustani" class="odustani" style="background-color:grey">

        </form>

    </div>





{% endblock %}