{% extends 'base.html' %}

{% block title %}
    {{ uloga.username }}
{% endblock %}

{% block body %}
    <div class="container-fluid" style="padding:0; margin:0;">
        <div class="row" style="margin:0;">
            <div class=" col-sm-8 main" id="levi">
                <div class="row col-sm-8" id="infoKnjiga" style="margin-bottom:10px;">
                    <div class="col-sm-4">
                        <img class="profilnaU" src="{% if uloga.slika %}{{ uloga.slika.url }}{% endif %}" alt="No image :(">
                    </div>
                    <div class="col-sm-8">
                        <h1 style="font-weight: bold">{{ profil.imeprezime }}</h1>
                        <h3 style="margin-bottom: 5%;"><b>Broj pratilaca:</b>{{ profil.brpratilaca }}</h3>
                        {% if user.is_authenticated %}
                            <button type="button" class="katalogbtn">Pretplati se</button>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-10 objave">


                    </div>
                    <div class="col-sm-2">
                        {% if uloga == user %}
                        <button class="katalogbtn">Dodaj objavu</button>
                        {% endif %}
                    </div>

                </div>
            </div>


            <div class="col-sm-4 recenzije" style="margin:0; padding:0;">
                <h1 style="font-weight: bold;"><u>Recenzije</u></h1>
                {% for rec in recenzije %}
                    <div class="recenzija">
                        {% if rec.iddavalac == user or perms.citajneskitaj.edit_recenzija %}
                            <button class="editBtn">...</button>
                        {% endif %}
                        <h2>⭐{{ rec.ocena }} - <i>@{{ rec.iddavalac.username }}</i></h2>
                        <div style="font-style: italic">{{ rec.tekst }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>
    <div class="popup " id="desno"
         style="width:50%; margin:auto;position:absolute; top:30%; left:25%; padding:0; background-color: rgb(233, 233, 233); height:fit-content;">
        <div class="popuptext" id="novaRec">
            <select name="" id="" class="form-select" style="width:fit-content">
                <option value="0">Unesi ocenu</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>

            </select>
            <textarea id="" name="" rows="4" cols="50">Uneti komentar.</textarea>
            <button class="katalogbtn btn-success" onclick="ukloniRec()">Objavi</button>
        </div>
    </div>

    <div class="popup " id="meniRec"
         style="width:50%; margin:auto;position:absolute; top:30%; left:25%; padding:0; background-color: rgb(233, 233, 233); height:fit-content;">
        <div class="popuptext" id="dropDownRec">
            <select name="" id="" class="form-select" style="width:fit-content">
                <option value="0">Unesi ocenu</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>

            </select>
            <textarea id="" name="" rows="4" cols="50">Uneti komentar.</textarea>
            <button class="katalogbtn btn-success" onclick="ukloniMeni()">Objavi</button>
            <button class="katalogbtn btn-danger" onclick="ukloniMeni()">Obriši</button>

        </div>


    </div>
{% endblock %}
