<!-- Autori:
- Luka Nevajda 0370/2020
-->
{% extends 'base.html' %}

{% block title %}
    Promena informacija o knjizi
{% endblock %}

{% block header %}
    <div class="container-fluid" style="padding:0; margin:0;">
        <div class="row col-sm-12 " style="padding:0; width:100%; margin: 0;">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin:0; padding:5px;" >
                <div class="container-fluid " id="navmeni" style="margin:0;">
                    <a href="{% url 'home' %}" class="logo">
                        <img src="../../static/slike/logo.png" alt="" style="width: 80px;">
                    </a>
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav text-right">
                            <li class="nav-item">
                                <a href="{% url 'logout' %}" class="nav-link">Izloguj se</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav text-right">
                            <li class="nav-item">
                                <a href="{% url 'reg' %}" class="nav-link">Registruj se</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'login' %}" class="nav-link">Uloguj se</a>
                            </li>
                        </ul>
                    {% endif %}
                    </div>
                </nav>
            </div>
        </div>
{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin:0; padding:0;">
            <div id="login">
                <h1>PROMENA INFORMACIJA</h1><br>
                {% if message %}
                    <ul>
                        <li><b>{{ message }}</b></li>
                    </ul>
                {% endif %}

                <form method="POST" enctype="multipart/form-data" id="izmeniKnjiguForm">
                    {% csrf_token %}
                    <div>
                        {{ form.naziv.label_tag }}<br>
                        {{ form.naziv }}
                      </div>

                      <div>
                        {{ form.slika.label_tag }}
                        {{ form.slika }}
                      </div>

                        {{ form.dodaj.label_tag }}<br>
                      <div style="display: inline-flex; align-items: center">
                        {{ form.autori }}
                        {{ form.dodaj }}
                      </div><br>

                        {{ form.autori.label_tag }}<br>
                        <div>
                            <ul id="mojiAutoriOpet" style="display: flex; padding-left: 0;"></ul>
                        </div>

                      <div>
                        {{ form.opis.label_tag }}
                        {{ form.opis }}
                      </div>

                      <div>
                        {{ form.sadrzaj.label_tag }}
                        {{ form.sadrzaj }}
                      </div>
                    <button class="loginbtn"> Promeni informacije </button>
                </form>

            </div>
        </div>

    <script>
    $(document).ready(function() {
            let autori = [];
            {% for autor in sviAutori %}
                console.log("Kurac");
                autori.push("{{ autor.username }}");
                let liItem = $('<li></li>');
                let hidden = $('<input type="hidden" name="mojiAutoriOpet" value="{{ autor.username }}">')
                let prikaz = $('<button type="button" class="btn btn-light dugmence"></button>');
                let bedz = $('<span class="badge bg-danger">X</span>');
                prikaz.text("{{ autor.username }} ");
                prikaz.append(bedz);
                liItem.append(hidden);
                liItem.append(prikaz);
                $('#mojiAutoriOpet').append(liItem);
            {% endfor %}

            $("#id_autori").keyup(function() {
        $.ajax({
            url: "http://127.0.0.1:8000/pretragaAutori/",
            type: "GET",
            data: {
                naziv: $("#id_autori").val()
            },
            success: function(response) {
                $("#id_autori").autocomplete({
                    source: response,
                    delay: 0,
                    select: function(event, ui) {
                        var value = ui.item.value.split(" - @")[1];
                        $(this).val(value);
                        return false;
                    }
                }).data("ui-autocomplete")._renderItem = function(ul, item) {
                    var term = this.term.toLowerCase();
                    var value = item.value.split(" - @")[1];
                    var label = item.label.replace(
                        new RegExp("(" + $.ui.autocomplete.escapeRegex(term) + ")", "gi"),
                        "<b>$1</b>"
                    );
                    label = label.replace(
                        new RegExp("(" + $.ui.autocomplete.escapeRegex(value) + ")", "gi"),
                        "<b>$1</b>"
                    );
                    return $("<li></li>")
                        .data("ui-autocomplete-item", item)
                        .append("<div>" + label + "</div>")
                        .appendTo(ul);
                    };
            }
        })
    });

            $("#id_dodaj").on("click", function() {
        const value = $("#id_autori").val().trim();
        if (value !== '' && !autori.includes(value)) {
            $.ajax({
                url: "http://127.0.0.1:8000/pretragaAutori/",
                type: "GET",
                data: {
                    naziv: $("#id_autori").val()
                },
                success: function(response) {
                    if (JSON.stringify(response) !== "[]") {
                        autori.push(value);
                        let liItem = $('<li></li>');
                        let hidden = $('<input type="hidden" name="mojiAutoriOpet" value="' + value + '">')
                        let prikaz = $('<button type="button" class="btn btn-light dugmence"></button>');
                        let bedz = $('<span class="badge bg-danger">X</span>');
                        prikaz.text(value + " ");
                        prikaz.append(bedz);
                        liItem.append(hidden);
                        liItem.append(prikaz);
                        $('#mojiAutoriOpet').append(liItem);
                        $('#id_autori').val("");
                    }
                }
            });
        }
    });

            $('#mojiAutoriOpet').on('click', 'li .dugmence .badge', function() {
        let val = $(this).parent().text().split(" ")[0];
        let index = autori.indexOf(val);
        autori.splice(index, 1);
        $(this).closest('li').remove();
    });

            $('#izmeniKnjiguForm').on("submit", function(event) {
        let ul = $("#mojiAutoriOpet");
        if (ul.children().length == 0) {
          event.preventDefault();
          alert('Morate da unesete barem jednog autora');
        }
    });
    })
    </script>
{% endblock %}
