{% extends 'base.html' %}

{% block title %}
    Logovanje
{% endblock %}

{% block header %}
    {% include "snippets/header_wo_search.html" %}
{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin:0; padding:0;">
        <div id="login">
            <h1>LOGOVANJE</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Uloguj se" class="loginbtn">
            </form>
            <button type="button" class="btn btn-light resetPassbtn " onclick="$('#zabLozinkaModal').show()">
                Zaboravljena lozinka?
            </button>
        </div>


        <div class="modal" id="zabLozinkaModal">
            <div class="modalDiv" id="zabLozinkaDiv" style="color:white">
                    <div>
                        Pošaljite informaciju o korisničkom imenu sa<br>
                        Vašeg mejla na mejl: <a href="mailto:predrag.pesic@citajneskitaj.rs" class="profilLink">predrag.pesic@citajneskitaj.rs</a>. Naslov
                        <br>
                        treba da bude: 'Zahtev za resetovanjem lozinke'.
                        <br>
                        <br>
                        Ukoliko se Vaše korisničko ime poklapa sa mejlom <br>
                        preko koga ste poslali informacije, u najskorijem <br>
                        vremenskom periodu ćete dobiti informaciju o <br>
                        privremenoj lozinci sa kojom se možete ulogovati<br>
                        i potom je promeniti u podešavanjima.
                    </div>
                    <input type="reset" value="Odustani" class="odustani" style="background-color:grey"
                           onclick="$('#zabLozinkaModal').hide()">
                </form>
            </div>
        </div>
    </div>
{% endblock %}