{% extends 'base.html' %}

{% block title %}
    Logovanje
{% endblock %}

{% block header %}
    {% include "snippets/header_wo_search.html" %}
{% endblock %}

{% block body %}
   <div class="container-fluid" style="margin:0; padding:0;">
        <div id="login">
            <h1>LOGOVANJE</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Uloguj se" class="loginbtn">
            </form>
            <button type="button" class="btn btn-light resetPassbtn " data-toggle="modal" data-target="#exampleModalCenter">
                Zaboravljena lozinka?
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Uputstvo</h5>
                <button  class="btn-outline-dark" data-dismiss="modal" >
                    <!-- <span aria-hidden="true">&times;</span> -->
                    X
                </button>
                </div>
                <div class="modal-body">
                    Pošaljite informaciju o korisničkom imenu sa<br>
                    Vašeg mejla na mejl: <a href="mailto:admin@gmail.com">predrag.pesic@citajneskitaj.rs</a>. Naslov <br>
                    treba da bude: 'Zahtev za resetovanjem lozinke'.
                    <br>
                    <br>
                    Ukoliko se Vaše korisničko ime poklapa sa mejlom <br>
                    preko koga ste poslali informacije, u najskorijem <br>
                    vremenskom periodu ćete dobiti informaciju o <br>
                    privremenoj lozinci sa kojom se možete ulogovati<br>
                    i potom je promeniti u podešavanjima.
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}