<!-- Autori:
- Predrag Pešić 0023/2020
- Aleksa Mićanović 0282/2020
-->
{% extends 'base.html' %}

{% block title %}
    Registracija
{% endblock %}

{% block header %}
    {% include "snippets/header_wo_search.html" %}
{% endblock %}


{% block body %}
    <div class="container-fluid" style="padding:0;">
        <div class="row" style="padding:0; margin:0;">
            <div class=" col-sm-4">
                <div class="signUpCont">
                    <h2>Korisnik</h2>
                    <p>
                        UNETI OPIS KORISNIKA
                    </p>
                    <br>
                    <a href="{% url "regKorisnik" %}">
                        Napravi nalog
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="signUpCont">
                    <h2>Autor</h2>
                    <p>
                        UNETI OPIS AUTORA
                    </p>
                    <br>
                    <a href="{% url "regAutor" %}">
                        Napravi nalog
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="signUpCont">
                    <h2>Izdavačka kuća</h2>
                    <p>
                        UNETI OPIS KUCE
                    </p>
                    <br>
                    <a href="{% url "regKuca" %}">
                        Napravi nalog
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
