<!-- Autori:
- Predrag Pešić 0023/2020
-->
{% extends 'registration/reg.html' %}

{% block title %}
    Registracija autora
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="signin">
            <h1>Registracija autora</h1>
            {% if message %}
                    <ul>
                        <li><b>{{ message }}</b></li>
                    </ul>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Potvrdi" class="loginbtn">
            </form>
        </div>
    </div>
{% endblock %}
