<!-- Autori:
- Predrag Pešić 0023/2020
-->
{% extends 'registration/reg.html' %}

{% block title %}
    Registracija izdavačke kuće
{% endblock %}

{% block body %}
    <div class="container-fluid" >
        <div class="row" >
            <div class="col-sm-12">
                <div id="signin">
                    <h1>Registracija izdavačke kuće</h1>
                    {% if message %}
                            <ul>
                                <li><b>{{ message }}</b></li>
                            </ul>
                    {% endif %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Potvrdi" class="loginbtn">
                    </form><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

